body {
    background-color: #292929;
    border-style: solid;
    border-width: 2px;
    border-color: #007474;
    padding: 10px;
}

h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00a5a5;
    text-align: left;
}

h2 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#00a5a5;
    text-align: left;
}

p {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00a5a5;
}

li {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #007474;
    text-align: left;
}

a {
    color: #007474;
}

a:hover {
    color: #99ffff;
}


